[Unit]
Description=My flask API service
[Install]
WantedBy=multi-user.target
[Service]
Type=simple
User=workshop
PermissionsStartOnly=true
ExecStart=/usr/bin/python3 /webapp/main.py
Restart=on-failure
TimeoutSec=600 